*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Muthea';
    src: local("../fonts/Muthea.ttf"), url("../fonts/Muthea.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }

html{
    scroll-behavior: smooth;
    overflow-x:hidden;
    display: flex;
    margin-right: 0;
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 0;
    scrollbar-width: none;
}


::-webkit-scrollbar { width: 0; }

/* header */

header{
    width: 100%;
    height: 100vh;
    background: white url(../img/bg-header.png) 50% 50% no-repeat;
    /* background-size: 1550px, auto; */
    /* background-position: center; */
    background-size:cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

}


.nav-bar{
    width: 90%;
    display: flex;
    height: 100px;
    justify-content: space-between;
    /* padding: 30px; */
    align-items: center;
    margin-top: 10px;
}

.nav-buttons{
    display: flex;
    gap: 40px;
}

.nav-buttons button{
    color: #90444E;
    text-decoration: none;
    font-size: 28px;
    font-family: "Lobster";
    text-shadow: 0px 0px 30px rgba(255, 135, 151, 0.8);
    background-color: none;
    background: none;
    border: none;
    cursor: pointer;
    transition: all 300;
}

.nav-buttons button:hover{
    text-shadow: 0px 0px 30px rgba(255, 255, 255, 0.9);
    color: #BB5F6B;
    /* font-size: 29px; */
}

/* .header-main{
    color: #90444E;
    text-decoration: none;
    font-size: 24px;
    font-family: "Lobster";
    text-shadow: 4px 3px 30px rgba(0, 0, 0, 0.263);
} */

.logo{
    display: flex;
    justify-content: center;
    /* padding-bottom: 10%; */
    align-items: center;
    flex-direction: column;
    /* padding-top: 2%; */
    margin-bottom: 20px;
}

.main-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
    /* Frame 3 */


    
}

.main-logo img{
    width: 180px;
    margin: -55px 0px;
    vertical-align: center;
    text-shadow: 0px 0px 30px rgba(255, 255, 255, 0.1);
}

.main-logo p {
    font-size: 96px;
    color: #90444E;
    font-family: "Muthea";
    text-shadow: 0px 0px 30px rgba(255, 135, 151, 0.4);
}

.social-media{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    gap: 25px;
}

.links{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 55px;
}

.link{
    width: 40px;
    height: 40px;
    background-color: rgb(204, 204, 204);
    border-radius: 100px;
    box-shadow: 0px 0px 10px #90444E;
    cursor: pointer;
}
.link:hover{
    width: 50px;
    height: 50px;
    box-shadow: 0px 0px 15px #B4616C;
}

.text-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-logo p{
    font-size: 40px;
    color: #90444E;
    font-family: "Jura";
    text-shadow: 0px 0px 30px rgba(255, 135, 151, 0.4);
    /* text-shadow: 4px 3px 1px rgb(9, 9, 9); */
}
/* header */
.circle{
    width: 10px;
    height: 10px;
    background: #F9C91E;
    border-radius: 50px;
}

/* footer */

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1B1E23;
    padding: 40px;

    height: 200px;
}

.logo-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo-footer img{
    width: 100px;
    margin: -27px 0px;
}

.logo-footer p{
    font-family: 'Muthea';
    font-size: 50px;
    text-align: center;

    color: #90444E;

    text-shadow: 0px 0px 30px rgba(144, 68, 78, 0.4);
}

.nav-footer{
    display: flex;
    align-items: start;
    gap: 25px;
    justify-content: center;
    flex-direction: column;
}

.nav-footer-button{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    gap: 15px;
    text-shadow: 4px 3px 1px rgb(23, 23, 23);
}

.nav-footer-button a{
    color: #90444E;
    text-decoration: none;
    text-shadow: 4px 3px 1px rgb(0, 0, 0);
    font-size: 22px;
    font-family: "Lobster";

    text-shadow: 0px 0px 5px rgba(255, 135, 151, 0.4), 7px 10px 8.2px rgba(0, 0, 0, 0.8);
}

.nav-footer-button a:hover{
    color: #BB5F6B;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4), 7px 10px 8.2px rgba(0, 0, 0, 0.8);
}

.footer-title{
    font-family: 'Lobster';
    font-size: 24px;


    color: #90444E;

    text-shadow: 0px 0px 5px rgba(255, 135, 151, 0.4), 7px 10px 8.2px rgba(0, 0, 0, 0.8);
}

.media-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.social-media-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.contacts-footer{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 10px;
}

.us-contact{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    gap: 5px;
}

.us-contact img{
    width: 24px;
    height: 24px;
}

.us-contact p {
    font-family: 'Lobster';
    font-size: 22px;    
    
    color: #90444E;
    
    text-shadow: 0px 0px 5px rgba(255, 135, 151, 0.4), 7px 10px 8.2px rgba(0, 0, 0, 0.8);
}

.us-contact p:hover{
    color: #BB5F6B;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4), 7px 10px 8.2px rgba(0, 0, 0, 0.8);
}

/* .telephone{
    width: 18px;
    height: 18px;
    background: url('../img/telephone.png');
    background-size: 18px;
}

.mail{
    width: 18px;
    height: 18px;
    background: url('../img/mail.png');
    background-size: 18px;
} */

/* footer */


/* @media screen and (max-width: 650px) {
    .logo-1{
        font-size: 100px;
    }

    .logo img{
        width: 10%;
        vertical-align: center;
    }


    .navigation button{
        font-size: 18px;
    }
}

@media screen and (max-width: 800px) {
    .logo img{
        width: 16%;
    }

    .navigation-footer{
        display: none;
    }

    .footer-1part{
        width: 30%;
    }

    .footer-560{
        width: 70%;
    }
}

@media screen and (max-width: 560px){   
    footer{
        flex-direction: column;
        justify-content: end;
        gap: 30px;
    }
    .footer-560{
        width: 100%;
    }
    .footer-1part{
        width: 100%;
    }
} */