.new{
    background: white url(../img/new.jpg) 50% 0 no-repeat ;
    background-size: 100%, 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 7%;
    gap: 4vh;
}
main{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    /* gap:  */
}
.title{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    text-align: center;

    color: #0F0202;
}

.product-cart{
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /* gap: 15px; */

    width: 400px;
    height: 400px;

    background: #FFFEFC;
    box-shadow: 3px 4px 7px 5px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
}

.product-cart img{
    /* width: 80%; */
    border-radius: 10px;
    width: 280px;
}

.main-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}

.name{
    font-family: "Jura";
    font-size: 24px;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.589);
}

.price{
    font-family: "Jura";
    font-size: 20px;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.589);
    
}

.composition{
    width: 90%;
    font-size: 15px;
    font-family: "Jura";
    text-align: start;
    color: #5C5C5C;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.589);
}

.second-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 95%;
}

.third-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
}

.add-to-cart{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.add-to-cart button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;

    /* background: white url(../img/add-to-cart.jpg) 50% 50% no-repeat; */
    background-size:cover;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.589);

    /* width: 50px;
    height: 50px; */
    /* background: linear-gradient(178.24deg, rgba(148, 148, 148, 0.7) -28.71%, rgba(77, 77, 77, 0.7) 125.21%); */
    background: linear-gradient(178.24deg, #FFDCAB -28.71%, #FFB34E 125.21%);
    border-radius: 10px;

}

.add-to-cart button svg{
    width: 30px;
    height: 30px;
}

.add-to-cart button:hover{
    background: linear-gradient(178.24deg, #FFE8C7 -28.71%, #FFC67B 125.21%);

}

.cart-added{
    background: linear-gradient(178.24deg, rgba(148, 148, 148, 0.7) -28.71%, rgba(77, 77, 77, 0.7) 125.21%);

}

/* .add-to-cart button img{
    width: 30px;
    height: 30px;
} */

.weight{
    font-family: "Jura";
    font-size: 12px;
    color: #5C5C5C;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.589);
}
.about-us{
    /* padding: 50px; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    background: white url(../img/aboutus.jpg) 50% 0 no-repeat ;
    background-size:cover;
    background-position: center;
    /* padding: 30vh; */
    /* gap: 5vh; */
    height: 120vh;

    
}

.about-us-content{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* width: 100%;
    height: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 298px;

    margin: 0 auto;
    width: 80%;
    height: 582px;

}

.about-box{
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column; */
    /* gap: 15vh; */
    /* Frame 4 */


    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px;

    margin: 0 auto;
    width: 50%;
    height: 100%;
}

.about-block{
    /* display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding: 20px 0 20px 20px;
    gap: 2vh;
    border-radius: 15px;
    width: 80%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;

    margin: 0 auto;
    width: 400px;
    height: 300px;

}

.about-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 50px;

    width: 400px;
    height: 150px;

    background: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    margin: -40px 0px;

}

.about-img{
    width: 90px;
    height: 90px;
}

.about-title{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;

    color: #000000;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.about-description{
    font-family: 'Jura';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;

    color: #4B4242;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.assortment{
    background: white url(../img/assortment.jpg) 50% 0 no-repeat ;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 7%;
    gap: 1px;
    background-position-y: top;
    background-size: 100%;
    background-position: bottom;
}

.assortment-products{
    display: flex;
    justify-content: center;
    align-items: start;
    padding-bottom: 6%;
    gap: 10px;
    position: relative;
    min-width: 0;
}

.new-products{
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: start;
    padding-bottom: 6%;
    gap: 10px;
    position: relative;
    min-width: 0;
}

.slick-slider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.slick-track{
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: flex-start;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.slick-slide{
    width: 20%;
}

.slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 15%;
}

.slick-dots li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slick-dots button{
    font-size: 0;
    width: 1.5vh;
    height: 1.5vh;
    background-color: #A5A5A5;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

.slick-dots .slick-active button{
    width: 2.5vh;
    height: 2.5vh;
    background-color: #F9C91E;
}

.slick-list{
    overflow: hidden;
    display: flex;
    width: 100%;
}

.help-slider-cart{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* @media screen and (max-width: 1250px) {
    .product-new{
        width: 25%;
    }
} */


@media screen and (max-width: 1000px){
    .about-us h1{
        font-size: 80px;
    }
}

@media screen and (max-width: 900px) {
    /* .product-new{
        width: 40%;
    } */
    .new-products{
        gap: 7vh;
    }
    .about-us h1{
        font-size: 60px;
        text-align: center;
    }
}

@media screen and (max-width: 790px){
    .about-us h1{
        font-size: 70px;
    }

    .about-us-content{
        flex-direction: column;
    }

    .about-box{
        flex-direction: column;
        width: 100%;
        gap: 7vh;
    }

    .about-block{
        padding: 10px;
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    /* .product-new{
        width: 80%;
    } */
    .about-us h1{
        font-size: 40px;
        text-align: center;
    }

    h1{
        font-size: 50px;
    }
}

@media screen and (max-width: 460px) {
    h1{
        font-size: 40px;
    }

    .logo-1{
        font-size: 80px;
    }

    .logo-2{
        font-size: 30px;
    }
}