<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main_app/css/base.css' %}">
    <script src="{% static 'main_app/js/main.js' %}"></script>
    <script src="{% static 'main_app/js/base.js' %}"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Lobster&display=swap" rel="stylesheet">
    {% block links %}

    {% endblock %}
</head>
<body>
    <header>
        <!-- <img class="bg-header" src="{% static 'main_app/img/bg-header.jpg' %}" alt="123"> -->
        <div class="navigation">
            <button id="headerMain" >Головна</button>
            <button id="headerNews">Новинки</button>
            <button id="headerAboutUs">Про нас</button>
            <button id="headerAssortment">Ассортимент</button>
        </div>
        <div class="logo">
            <img src="{% static 'main_app/img/logo.png' %}" alt="">
            <p class="logo-1">Home Cake</p>
            <p class="logo-2">IRA KUSH</p>
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <div class="footer-1part">
            <div class="logo-footer">
                <img src="{% static 'main_app/img/logo.png' %}" alt="">
                <p class="logo-1-footer">Home Cake</p>
                <p class="logo-2-footer">IRA KUSH</p>
            </div>
            <div class="navigation-footer">
                <div class="nav-footer">
                    <div class="circle"></div>
                    <a href="#">Головна</a>
                </div>
                <div class="nav-footer">
                    <div class="circle"></div>
                    <a href="#">Новинки</a>
                </div>
                <div class="nav-footer">
                    <div class="circle"></div>
                    <a href="#">Про нас</a>
                </div>
                <div class="nav-footer">
                    <div class="circle"></div>
                    <a href="#">Ассортимент</a>
                </div>
            </div>
        </div>
        <div class="footer-560">
            <div class="media-footer">
                <p class="footer-title">Наші соцмережі</p>
                <div class="social-media">
                    <div class="social-media-img telegram"></div>
                    <div class="social-media-img instagram"></div>
                </div>
                <div class="social-media">
                    <div class="social-media-img facebook"></div>
                </div>
            </div>

            <div class="contacts-footer">
                <p class="footer-title">Наші контакти</p>
                <div class="us-contact">
                    <div class="telephone">
                    </div>
                    <p>+380 999999999</p>
                </div>
                <div class="us-contact">
                    <div class="mail">
                    </div>
                    <p>home_cake@gmail.con</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="{% static 'main_app/js/base.js' %}"></script>
    {% block scripts %}

    {% endblock %}
</body>
</html>