
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta name="csrf-token" content="{{ csrf_token }}"> -->

    <title>{% block title %}{% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'main_app/css/base.css' %}">

    <script src="{% static 'main_app/js/libraries/jquery.js' %}" defer></script>
    <script src="{% static 'main_app/js/libraries/slick.js' %}" defer></script>

    <script src="{% static 'main_app/js/base.js' %}" defer></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Lobster -->
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Lobster&display=swap" rel="stylesheet">
    
    <!-- Jost -->
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Jura:wght@300..700&family=Lobster&display=swap" rel="stylesheet">
    
    <!-- Jua -->
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

    <!-- mplus 1p -->
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap" rel="stylesheet">
    
    {% block links %}

    {% endblock %}
</head>
<body>
    {% block modals %}
    {% endblock %}
    <header>
        <!-- <img class="bg-header" src="{% static 'main_app/img/bg-header.jpg' %}" alt="123"> -->
        <div class="nav-bar">
            <div class="nav-buttons">
                <button onclick="navMain()" >Головна</button>
                <button onclick="navNews()">Новинки</button>
                <button onclick="navAboutUs()">Про нас</button>
                <button onclick="navAssortment()">Асортимент</button>
            </div>
            <div class="buy-buttons nav-buttons">
                <button onclick="openModal(document.querySelector('#coverSelfOrder'))" id="headerSelfOrder">Замовити своє</button>
                <button onclick="openModal(document.querySelector('#coverCart'))" id="headerCart">Кошик</button>
            </div>
        </div>
        <div class="logo">
            <div class="main-logo">
                <img src="{% static 'main_app/img/logo.png' %}" alt="">
                <p>Home Cake</p>
            </div>
            <div class="second-logo">
                <div class="social-media">
                    <div class="links">
                        <a href="https://developer.mozilla.org/ru/docs/Web/CSS/CSS_box_alignment" class="link">
                        </a>
                    </div>
                    <div class="links">
                        <a href="https://developer.mozilla.org/ru/docs/Web/CSS/CSS_box_alignment" class="link">
                        </a>
                    </div>
                    <div class="links">
                        <a href="https://developer.mozilla.org/ru/docs/Web/CSS/CSS_box_alignment" class="link">           
                        </a>
                    </div>
                </div>
                <div class="text-logo">
                    <p>HOME.CAKE.DP</p>
                    <p>IRA KUSH</p>
                    <p>+380 (63) 460 40 97</p>
                </div>
            </div>
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <div class="logo-footer">
            <img src="{% static 'main_app/img/logo.png' %}" alt="">
            <p>Home Cake</p>
        </div>

        <div class="nav-footer">
            <div class="nav-footer-buttons">
                <div class="circle"></div>
                <button onclick="navMain()">Головна</button>
            </div>
            <div class="nav-footer-buttons">
                <div class="circle"></div>
                <button onclick="navNews()">Новинки</button>
            </div>
            <div class="nav-footer-buttons">
                <div class="circle"></div>
                <button onclick="navAboutUs()">Про нас</button>
            </div>
            <div class="nav-footer-buttons">
                <div class="circle"></div>
                <button onclick="navAssortment()">Асортимент</button>
            </div>
        </div>

        <div class="media-footer">
            <p class="footer-title">Наші соцмережі</p>
            <div class="social-media-footer">
                <div class="links">
                    <a href="https://developer.mozilla.org/ru/docs/Web/CSS/CSS_box_alignment" class="link">
                    </a>
                </div>
                <div class="links">
                    <a href="https://developer.mozilla.org/ru/docs/Web/CSS/CSS_box_alignment" class="link">
                    </a>
                </div>
                <div class="links">
                    <a href="https://developer.mozilla.org/ru/docs/Web/CSS/CSS_box_alignment" class="link">           
                    </a>
                </div>
            </div>
        </div>

        <div class="contacts-footer">
            <p class="footer-title">Наші контакти</p>
            <div class="us-contact">
                <img src="{% static 'main_app/img/telephone.png' %}" alt="">
                <p>+380 (63) 460 40 97</p>
            </div>
            <div class="us-contact">
                <img src="{% static 'main_app/img/mail.png' %}" alt="">
                <p>home_cake@gmail.con</p>
            </div>
        </div>
    </footer>
</body>
</html>