{% extends 'main_app/base.html' %}
{% load static %}
{% block title %}
Головна
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'main_app/css/main.css' %}">

<script src="{% static 'main_app/js/main.js' %}" defer></script>

{% endblock %}

{% block scripts %}
<script src="{% static 'main_app/js/main.js' %}"></script>
{% endblock %}


{% block content %}
<div class="new">
    <h1>Наші новинки</h1>
    <div class="new-products">

    </div>
</div>

<div class="about-us">
    <h1>Власна Кондитерська</h1>
    <div class="about-us-content">
        <div class="about-box">
            <div class="about-block-1 about-block">
                <div class="about-img-left"></div>
                <p class="about-title">Натуральні інгредієнти</p>
                <p class="about-text">Використовуємо лише натуральні інгредієнти , без додавання хімічних добавок та покращувачів смаку</p>
            </div>
            <div class="about-block-1 about-block">
                <div class="about-img-left"></div>
                <p class="about-title">Натуральні інгредієнти</p>
                <p class="about-text">Використовуємо лише натуральні інгредієнти , без додавання хімічних добавок та покращувачів смаку</p>
            </div>
        </div>
        <div class="about-box">
            <div class="about-block-1 about-block">
                <div class="about-img-right"></div>
                <p class="about-title">Натуральні інгредієнти</p>
                <p class="about-text">Використовуємо лише натуральні інгредієнти , без додавання хімічних добавок та покращувачів смаку</p>
            </div>
            <div class="about-block-1 about-block">
                <div class="about-img-right"></div>
                <p class="about-title">Натуральні інгредієнти</p>
                <p class="about-text">Використовуємо лише натуральні інгредієнти , без додавання хімічних добавок та покращувачів смаку</p>
            </div>
        </div>
    </div>
</div>
<div class="assortment">
    <h1>Наш Ассортимент</h1>
    <div class="new-products">

    </div>
    <div class="slider">

    </div>
</div>
{% endblock %}